ListView/.idea/gradle.xml
ListView/.idea/misc.xml
ListView/.idea/modules.xml
ListView/.idea/runConfigurations.xml
ListView/.idea/copyright/profiles_settings.xml
ListView/.idea/.name
ListView/.idea/compiler.xml
ListView/.idea/encodings.xml
ListView/gradle/wrapper/gradle-wrapper.jar
ListView/gradle/wrapper/gradle-wrapper.properties
